/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&family=Rubik+Wet+Paint&display=swap');

:root {
  --navbarbgcolor: #21222a;
  --mainbgcolor: #282d35;
  --maincolor: #fff;
  --lightcolor: #fff;
  --darkcolor: #000;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height: 90px;
  padding: 30px 25px;
  box-shadow: 5px 5px #1cc;
}

.nav--icon {
  width: 40px;
  margin-right: 7px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  color: #61dafb;
  margin-right: auto;
  font-size: 22px;
}

.nav--title {
  color: #72aae2;
  font-weight: 600;
}

.main {
  background-image: url('../logo512.png');

  height: 500px;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 115% center;
  background-attachment: scroll;
  padding: 57px 27px;
  height: 100%;
}

.main--title {
  font-family: 'Poppins';
  letter-spacing: -0.05em;
}

.main--facts {
  list-style: square inside url('../logo.svg');
  font-size: 30px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

/* THEME MODE */
.theme-container {
  display: flex;
  place-items: center;
  gap: 5px;
}
.theme-mode {
  width: 60px;
  height: 30px;
  border-radius: 12px;
  cursor: pointer;
}
.theme-mode--button {
  border-radius: 50%;
  height: 100%;
  width: 50%;
  margin-left: 0%;
  cursor: pointer;
}

.theme-option {
  cursor: pointer;
}
