/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&family=Rubik+Wet+Paint&display=swap');

.app {
  /* remove */
  border: solid yellow;
  /* remove */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* remove */
  background-color: darkblue;
  /* remove */
}

.img {
  width: 40px;
}
.img + p {
  color: green;
}

.main {
  /* remove */
  background-color: rgb(51, 102, 153, 0.6);
  /* remove */
}

h1 {
  font-family: 'Poppins';
}
