/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&family=Rubik+Wet+Paint&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: #fff;
}
.app {
  /* remove */
  border: solid yellow;
  /* remove */
  height: 100vh;
}

.navbar {
  display: flex;
  background-color: #21222a;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  box-shadow: 5px 5px #1cc;
}

.nav--icon {
  width: 40px;
  margin-right: 7px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  color: #61dafb;
  margin-right: auto;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.main {
  background-image: url('../logo512.png');
  background-color: #282d35;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 115% center;
  background-attachment: scroll;
  padding: 57px 27px;
  height: 100%;
}

.main--title {
  font-family: 'Poppins';
  letter-spacing: -0.05em;
}

.main--facts {
  list-style: square inside url('../logo.svg');
  font-size: 30px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
